<div class="cart__header">
	<h3>Корзина</h3>
	<div class="cart__cross"><span></span></div>
</div>
<div class="cart__products-top">
	<div class="cart__products-count"><span>0</span> товаров</div>
	<button class="cart__products-clear">очистить список</button>
</div>
<div class="cart__products">
	<div class="cart__products-cards">
		<div class="cart__products-card">
			<div class="cart__products-card_image">
				<img src="/assets/catalog/catalog-item-1.png" alt="" />
			</div>
			<div class="cart__products-card_content">
				<div class="cart__products-card_info">
					<h4>Тестовый товар</h4>
					<div class="cart__products-card_price">0000₽</div>
				</div>
				<div class="cart__products-card_counter">
					<button class="cart__products-card_counter_decr">-</button>
					<input
						type="number"
						class="cart__products-card_counter_value"
						value=""
						max="999"
						min="1"
					/>
					<button class="cart__products-card_counter_incr">+</button>
				</div>
				<div class="cart__products-card_delete"><span></span></div>
			</div>
		</div>
	</div>
</div>
<div class="cart__bottom">
	<div class="cart__amount">
		<span>Итого</span>
		<div class="cart__amount-total"><span>0</span>₽</div>
	</div>
	<button class="cart__order">Оформить заказ</button>
</div>
