<div class="slider__content">
	<div class="slider__content-slide">
		<div class="slider__content-slide_text">
			<h1>Краски</h1>
			<p>
				Идеально подходят для стен и других поверхностей. Найди свой идеальный
				цвет!
			</p>
		</div>
		<img src="/assets/slider-img.png" alt="Slider" />
	</div>
	<div class="slider__content-slide">
		<div class="slider__content-slide_text">
			<h1>Краски</h1>
			<p>
				Идеально подходят для стен и других поверхностей. Найди свой идеальный
				цвет!
			</p>
		</div>
		<img src="/assets/slider-img.png" alt="Slider" />
	</div>
	<div class="slider__content-slide">
		<div class="slider__content-slide_text">
			<h1>Краски</h1>
			<p>
				Идеально подходят для стен и других поверхностей. Найди свой идеальный
				цвет!
			</p>
		</div>
		<img src="/assets/slider-img.png" alt="Slider" />
	</div>
	<div class="slider__content-slide">
		<div class="slider__content-slide_text">
			<h1>Краски</h1>
			<p>
				Идеально подходят для стен и других поверхностей. Найди свой идеальный
				цвет!
			</p>
		</div>
		<img src="/assets/slider-img.png" alt="Slider" />
	</div>
	<div class="slider__content-slide">
		<div class="slider__content-slide_text">
			<h1>Краски</h1>
			<p>
				Идеально подходят для стен и других поверхностей. Найди свой идеальный
				цвет!
			</p>
		</div>
		<img src="/assets/slider-img.png" alt="Slider" />
	</div>
	<div class="slider__content-slide">
		<div class="slider__content-slide_text">
			<h1>Краски</h1>
			<p>
				Идеально подходят для стен и других поверхностей. Найди свой идеальный
				цвет!
			</p>
		</div>
		<img src="/assets/slider-img.png" alt="Slider" />
	</div>
</div>
<div class="slider__arrows">
	<div class="slider__arrows-prev">@@include('../ui/Icons/Arrow.html')</div>
	<div class="slider__arrows-next">@@include('../ui/Icons/Arrow.html')</div>
</div>
<div class="slider__dots">
	<!-- Генерируются скриптом -->
</div>
