<ul class="filter__list">
	<li class="filter__item">
		<input type="checkbox" id="new" class="filter__checkbox" />
		<label for="new" class="filter__label">Новинки</label>
	</li>
	<li class="filter__item">
		<input type="checkbox" id="available" class="filter__checkbox" />
		<label for="available" class="filter__label">Есть в наличии</label>
	</li>
	<li class="filter__item">
		<input type="checkbox" id="contract" class="filter__checkbox" />
		<label for="contract" class="filter__label">Контрактные</label>
	</li>
	<li class="filter__item">
		<input type="checkbox" id="exclusive" class="filter__checkbox" />
		<label for="exclusive" class="filter__label">Эксклюзивные</label>
	</li>
	<li class="filter__item">
		<input type="checkbox" id="sale" class="filter__checkbox" />
		<label for="sale" class="filter__label">Распродажа</label>
	</li>
</ul>
