@import 'variables.scss';
@import 'reset.scss';
@import 'base.scss';
// Ui
@import '../components/ui/Filter/Filter.scss';
// Components
@import '../components/Header/Header.scss';
@import '../components/Header/Drawer.scss';
@import '../components/Breadcrumbs/Breadcrumbs.scss';
@import '../components/FirstScreen/FirstScreen.scss';
@import '../components/MainContent/MainContent.scss';
@import '../components/MainContent/Sidebar/Sidebar.scss';
@import '../components/MainContent/Catalog/Catalog.scss';
@import '../components/Cart/Cart.scss';
@import '../components/Footer/Footer.scss';
