<div class="catalog__header">
	<div class="catalog__header-count"><span>0</span> товаров</div>
	<div class="catalog__header-filters">фильтры</div>
	<div class="catalog__header-sort">
		<span class="catalog__header-sort_current">По умолчанию</span>
		<div class="catalog__header-sort_list">
			<ul>
				<li data-sort="desc">Сначала дорогие</li>
				<li data-sort="asc">Сначала недорогие</li>
				<li data-sort="">Сначала популярные</li>
				<li data-sort="">Сначала новые</li>
			</ul>
		</div>
	</div>
</div>
<!-- Блок для карточек -->
<div class="catalog__products"></div>
