// Local variables
$sort-right-offset: -15px;
// Catalog
.catalog {
	width: 100%;
	max-width: 1486px;
	// Catalog Header
	&__header {
		@media screen and (min-width: $md) {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&-title {
			@media screen and (min-width: $md) {
				display: none;
			}
		}
		&-content {
			margin-top: $catalog-mt;
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: 12px;
			font-weight: 500;
			text-transform: uppercase;
			letter-spacing: 0.06em;
			@media screen and (min-width: $md) {
				margin-top: 0;
			}
		}
		&-count {
			display: none;
			@media screen and (min-width: $md) {
				display: block;
			}
		}
		&-filters {
			@media screen and (min-width: $md) {
				display: none;
			}
		}
		&-sort {
			position: relative;
			cursor: pointer;
			margin-right: -$sort-right-offset;
			&_current {
				display: block;
				&::after {
					@include pseudo-elem($width: 8px, $height: 6px);
					top: 0;
					bottom: 0;
					margin: auto 0;
					right: $sort-right-offset;
					background: {
						image: url('/assets/icons/sort-arrow.svg');
						position: center;
						repeat: no-repeat;
					}
				}
			}
			&_list {
				position: absolute;
				right: 0;
				top: 0;
				width: 280px;
				overflow: hidden;
				transition: all $main-transition;
				z-index: 11;
				& > ul {
					height: 0;
					background-color: #fff;
					& > li {
						padding: 16px 0 16px 24px;
						&.active {
							background-color: $green;
						}
						&:hover {
							background-color: $green;
						}
					}
				}
				&.--active {
					& > ul {
						height: 100%;
					}
				}
			}
		}
	}
	// Products
	&__products {
		margin-top: 24px;
		display: grid;
		gap: 24px 15px;
		grid-template-columns: repeat(auto-fill, minmax(156px, 1fr));
		@media screen and (min-width: $lg) {
			margin-top: 34px;
			gap: 16px 24px;
			grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		}
		@media screen and (min-width: $xl) {
			margin-top: 44px;
			grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
		}
	}
	// Product card
	.product-card {
		width: 100%;
		max-width: 278px;
		display: flex;
		flex-direction: column;
		gap: 16px;
		border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
		padding-bottom: 34px;
		@media screen and (max-width: $sx) {
			margin: 0 auto;
		}
		@media screen and (min-width: $md) {
			padding-bottom: 14px;
		}
		&:hover {
			.product-card__button {
				opacity: 1;
			}
		}
		// Product Image
		&__image {
			&-holder {
				width: 100%;
				height: 100%;
				max-width: 278px;
				max-height: 278px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
		// Product Bottom
		&__bottom {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		// Product Bottom Price
		&__price {
			font-weight: 600;
		}
		// Product Bottom Button
		&__button {
			padding: 4px 12px;
			background-color: $light-gray;
			border-radius: 8px;
			opacity: 1;
			transition: opacity $main-transition;
			will-change: opacity;
			// Button icon
			& > span {
				position: relative;
				display: block;
				width: 20px;
				height: 20px;
				&::before {
					content: '';
					@include pseudo-elem($width: 12px, $height: 2px);
				}
				&::after {
					content: '';
					@include pseudo-elem($width: 2px, $height: 12px);
				}
				&::before,
				&::after {
					background-color: $primary;
					top: 50%;
					left: 50%;
					border-radius: 2px;
					translate: -50% -50%;
					transition: all $main-transition;
				}
			}
			// Button icon Active
			&.--active {
				opacity: 1 !important;
				background-color: $green;
				& > span {
					&::before {
						translate: -100% 5%;
						rotate: 45deg;
						width: 10px;
					}
					&::after {
						translate: 25% -50%;
						rotate: 45deg;
					}
				}
			}
			@media screen and (min-width: $lg) {
				opacity: 0;
				padding: 6px 30px;
				background-color: $green;
			}
		}
	}
}
