<!-- Header -->
<div class="header__container">
	<!-- Burger -->
	<div class="header__burger">
		<span></span>
		<span></span>
		<span></span>
	</div>
	<!-- Drawer -->
	<div class="header__drawer">
		<div class="header__drawer-content">
			@@include('./Navigation.html') @@include('./ToolsList.html')
		</div>
	</div>
	<!-- Left content -->
	<div class="header__content-left">
		<!-- Logo -->
		<div class="header__logo-container">
			<a href="/" class="header__logo">COLORS</a>
		</div>
		<!-- Navigation -->
		@@include('./Navigation.html')
	</div>
	<!-- Right content -->
	<div class="header__content-right">
		<!-- Call -->
		<div class="header__call">
			<a class="header__call-number" href="tel:+74952217769">
				+7 (495) 221-77-69
			</a>
			<button class="header__call-order">Заказать звонок</button>
		</div>
		<!-- Tools -->
		<div class="tools">
			@@include('./ToolsList.html')
			<!-- Cart -->
			<div class="tools-cart">
				<span class="tools-cart_count">0</span>
			</div>
		</div>
	</div>
</div>
