@import '../styles/variables.scss';

.logo {
	position: relative;
	display: block;
	width: 8px;
	overflow: hidden;
	font-size: 30px;
	transition: width 0.5s ease-in-out;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 8px;
		height: 100%;
		background-color: $primary;
		border-radius: 8px;
		transition: all 0.5s ease-in-out;
	}
	&.shrink {
		width: 130px;
	}
	&.dot {
		&::after {
			height: 8px;
		}
	}
}
