.footer {
	width: 100%;
	height: 204px;
	background-color: #000;
	@media screen and (min-width: $md) {
		height: 220px;
	}
	@media screen and (min-width: $lg) {
		height: 260px;
	}
	@media screen and (min-width: $xl) {
		height: 300px;
	}
	@media screen and (min-width: $xl2) {
		height: 312px;
	}
}
